<html>
    <head>
      {% if title %}
      <title>{{ title }} - Sales Intelligence</title>
      {% else %}
      <title>Welcome to Microblog</title>
      {% endif %}
    </head>
    <body>
      Microblog:
      <a href="{{ url_for('index') }}">Home</a>
      {% if current_user.is_anonymous %}
      <a href="{{ url_for('login') }}">Login</a>
      {% else %}
      <a href="{{ url_for('logout') }}">Logout</a>
      {% endif %}
        <hr>
        {% block content %}{% endblock %}
    </body>
</html>