{% extends "base.html" %}

{% block content %}

<h1>Upload into database</h1>

<form action="" method="post" novalidate style="padding-left: 25px;">
    {{ form.hidden_tag() }}
    
    <p>
        {{ form.Company.label }}<br>
        {{ form.Company(size=64)}}<br>  
        {% for error in form.Company.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>

    <p>
        {{ form.Industry.label }}<br>
        {{ form.Industry(size=64)}}<br>
        {% for error in form.Industry.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>

    <p>
        {{ form.News_Date_from.label }}<br>
        {{ form.News_Date_from(size=64)}}<br>
        {% for error in form.News_Date_from.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>

    <p>
        {{ form.News_Date_to.label }}<br>
        {{ form.News_Date_to(size=64)}}<br>
        {% for error in form.News_Date_to.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.Mapped_to.label }}<br>
        {{ form.Mapped_to(size=64)}}<br>
        {% for error in form.Mapped_to.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>

    <p>{{ form.submit() }}</p>
</form>
{% endblock %}